.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

.ipynb_checkpoints/


*.pyc
*.p
*.pkl 

*/.floyd*

*/data/
__pycache__
checkpoints/
*.gz
*.pickle
*.zip
saved_networks/
cifar-10-batches-py/
